mjx-container {
    display: block !important;
    overflow-x: auto !important;
    max-width: 100% !important;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

mjx-container::-webkit-scrollbar {
    display: none;
}