<!DOCTYPE html>
<html>
<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        MathJax = {{
            tex: {{inlineMath: [['$', '$'], ['\\(', '\\)']]}},
            svg: {{fontCache: 'global'}}
        }};
    </script>
</head>
<body>
    <h1>{{ page_title }}</h1>
    <a href="index.html">Back</a>
    <br>
    <br>
    {{ html_converted }}
</body>
</html>
