<svelte:head>
	<title>why??</title>

	<meta property="og:title" content="why??" />
	<meta property="og:description" content="why??" />
	<meta property="og:url" content={`https://Y0rFa1se.github.io/contents`} />

	<meta name="description" content="why??" />
</svelte:head>

why??