name: gh-pages Deploy

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup git user
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install uv

          uv sync

      - name: Restore Timestamps
        shell: bash
        run: |
          find docs/ -type f | while read -r file; do
            LAST_COMMIT_DATE=$(git log -1 --format=%ai -- "$file")
            if [ -n "$LAST_COMMIT_DATE" ]; then
              touch -d "$LAST_COMMIT_DATE" "$file"
            fi
          done

      - name: Build Pages
        shell: bash
        run: |
          uv run mkdocs build

          mkdir -p ../artifacts
          cp -a site/. ../artifacts/

      - name: Publish to gh-pages
        shell: bash
        run: |
          set -euxo pipefail

          git switch --orphan gh-pages

          git reset --hard
          git clean -fdx

          cp -a ../artifacts/. ./

          git add -A
          git commit -m "Deploy: $(date -u +"%Y-%m-%d %H:%M:%S UTC")"
          git push --force origin gh-pages
